.wrapper {
  padding-top: 80px;
  padding-left: 80px;

  input.NameComp {
    padding-left: 40px;
    margin-bottom: 42px;
    border: none;
    font-size: 41px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0;
    text-align: left;

    border-bottom: 1px solid black;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
  }

  .add-btn {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    background: none;
    border: none;
    margin-right: 20px;
    width: 250px
  }

}
