.container {
    height: 65px;

    .p {
        width: 140px;
        float: left;
    }

    #inputField {
        float: left;
        height: 44px;
        width: 500px;
        background: #FFFFFF;
        border: 1px solid #C3C3C3;
        box-sizing: border-box;
        border-radius: 3px;
    }
}