.container {
    height: 65px;

    .div1 {
        width: 8rem;
        float: left;
    }

    .div2 {
        float: left;
        height: 51px;
        width: 500px;
    }

    #inputField {
        height: 40px;
        width: 500px;
    }
}