.container {
    height: 65px;
    margin: 0px;

    .p {
        width: 140px;
        float: left;
        height: 20px;
    }

    .inputField {
        float: left;
        height: 44px;
        width: 300px;

        background: #FFFFFF;
        border: 1px solid #C3C3C3;
        box-sizing: border-box;
        border-radius: 3px;
    }

    .option {
        width: 300px;
        height: 44px;

        background: #FFFFFF;
        border-radius: 3px;
    }

  .btn-group {
    display: none;
  }

  &:hover .btn-group {
    display: inline-flex;
    float: right;
    vertical-align: top !important;
  }

}
