<div class="container">
  <label class="p">{{ compValues.label }}
    <span style="color: red" *ngIf="compValues.required">*</span>
  </label>

    <mat-select class="inputField">
        <mat-option class="option" *ngFor="let item of choicesArray">{{ item }}</mat-option>
    </mat-select>

  <div class="btn-group" role="group" aria-label="Configures">
    <button class="btn-secondary" (click)="moveUp()">
      <i class="fas fa-chevron-up"></i>
    </button>
    <button class="btn-secondary" (click)="moveDown()">
      <i class="fas fa-chevron-down"></i>
    </button>
    <button class="btn-secondary" (click)="remove()">
      <i class="fa-solid fa-minus"></i>
    </button>
  </div>

</div>
