.container {
    height: 65px;
    
    .p {
        width: 8rem;
        float: left;
        height: 20px;
    }
    
    .inputField {
        float: left;
        height: 40px;
        width: 200px;
    }
}