<div class="container">
  <h1>Анкета</h1>

  <app-test-input [textComp]="'Имя'"></app-test-input>
  <app-test-number></app-test-number>
  <app-test-select [textComp]="'Семейное положение'" [arrayOptions]="array1"></app-test-select>

  <app-test-input [textComp]="'ВУЗ'"></app-test-input>
  <app-test-select [textComp]="'Место рождения'" [arrayOptions]="array2"></app-test-select>
  <app-test-checkbox [checkboxArray]="array3"></app-test-checkbox>

  <button id="button"[disabled]="true"> Отправить</button>
</div>