.container {
    margin: 0px;
    min-height: 40px;
    display: flex;

    .p {
        display: flex;
        width: 140px;
        height: 44px;
        float: left;
    }

    .boxcontainer {
      float: left;
      height: 40px;
      width: 240px;
    }

    .inputField {
        float: left;
        width: 22px;
        height: 22px;
        border: 1px solid #C3C3C3;
        box-sizing: border-box;
        border-radius: 3px;

        .boxname {
            width: 205px;
        }
    }

  .btn-group {
    display: none;
  }

  &:hover .btn-group {
    display: block;
    float: right;
    vertical-align: top !important;
  }

}



