<div class="container">
    <div>
        <p class="p">Навыки</p>
    </div>

    <div style="width: 500px; height: 174px; margin-left: 140px;">
        <div class="boxcontainer" *ngFor="let item of checkboxArray">
            <input type="checkbox" class="inputField">
            <p class="boxname">{{ item }}</p>
        </div>
        
        <div class="boxcontainer">
        <input type="checkbox" class="inputField">
        <p><strong>Выделить всё</strong></p>
        </div>

    </div>

</div>