<div class="container">
    <div>
        <label class="p">{{compValues.label}}
        <span style="color: red" *ngIf="compValues.required">*</span>
        </label>
    </div>

    <div style=" width: 500px; float: left">
        <div class="boxcontainer" *ngFor="let item of choicesArray">
            <input type="checkbox" class="inputField">
            <p class="boxname">{{ item }}</p>
        </div>

        <div class="boxcontainer" *ngIf="compValues.isIncludeCheckAll">
        <input type="checkbox" class="inputField">
        <p><strong>Выделить всё</strong></p>
        </div>
    </div>

  <div class="btn-group" role="group" aria-label="Configures">
    <button class="btn-secondary" (click)="moveUp()">
      <i class="fas fa-chevron-up"></i>
    </button>
    <button class="btn-secondary" (click)="moveDown()">
      <i class="fas fa-chevron-down"></i>
    </button>
    <button class="btn-secondary" (click)="remove()">
      <i class="fa-solid fa-minus"></i>
    </button>
  </div>

</div>

